@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --m-top: 4rem;
    --w-side: 18rem;
    --w-side-sm: 16rem;

    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    --tw-border-opacity: 1;

    --background1: #f9fafb; /* Very light gray (was foreground1) */
    --background2: #f3f4f6; /* Very light gray (was foreground2) */

    --foreground1: #f1f3f5; /* Light gray (was background1) */
    --foreground2: #e5e7eb; /* Light gray (was background2) */
    --foreground3: #e7e9eb; /* Light gray (was foreground3) */

    --hover1: #bfdbfe; /* Light blue */
    --hover2: #dbeafe; /* Very light blue */
    --hover3: #e0e7ff; /* Very light blue */

    --background-code: #222121; /* Very light gray */

    --text1: #1e293b; /* Dark blue */
    --text2: #475569; /* Dark blue-gray */
    --text3: #64748b; /* Blue-gray */

    --border1: #e2e8f0; /* Light blue-gray */
    --border2: #f87171; /* Light red */

    --dark1: rgb(17 24 39 / var(--tw-bg-opacity));
    --light1: rgb(255 255 255 / var(--tw-bg-opacity));

    --blue1: #2563eb;
    --blue2: #2157cc;
    --blue3: #dbeafe;
    --blue4: #b1c2d8;

    --purple1: #7e3af2;
    --purple2: #7e3af2;
    --purple3: #edebfe;
    --purple4: #edebfe;

    --green1: #0694a2;
    --green2: #0694a2;
    --green3: #d5f5f6;
    --green4: #d5f5f6;

    --pink1: #db2777;
    --pink2: #db2777;
    --pink3: #fce7f3;
    --pink4: #e3c6d7;

    --scroll: #ff0000;

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    --tw-border-opacity: 1;

    --background1: #0f172a;
    --background2: #1f2937;

    --foreground1: #1e293b;
    --foreground2: #334155;
    --foreground3: #485466;

    --hover1: #485466;
    --hover2: #415166;
    --hover3: rgb(41, 55, 74);

    --background-code: #1a202c;

    --text1: #ffffff;
    --text2: #d0d0d3;
    --text3: #6b7280;

    --border1: #4b5563;
    --border2: #ff0000;

    --dark1: rgb(17 24 39 / var(--tw-bg-opacity));
    --light1: rgb(255 255 255 / var(--tw-bg-opacity));

    --blue1: #2563eb;
    --blue2: #2157cc;
    --blue3: #dbeafe;
    --blue4: #b1c2d8;

    --purple1: #7e3af2;
    --purple1: #6e34d3;
    --purple3: #edebfe;
    --purple4: #edebfe;

    --green1: #0694a2;
    --green2: #057681;
    --green3: #d5f5f6;
    --green4: #d5f5f6;

    --pink1: #db2777;
    --pink2: #bb2267;
    --pink3: #fce7f3;
    --pink4: #e3c6d7;

    --scroll: #ff0000;

    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  *,
  html {
    @apply m-0 box-border scroll-smooth p-0;
  }

  body {
    @apply bg-background-1 font-inter text-[14px] text-text-1;
  }
}

@layer components {
  .icon_logo {
    @apply flex-center h-[50px] w-[50px];
    padding: 8px;
    border: double 4px transparent;
    border-radius: 50%;
    background-image: linear-gradient(var(--background1), var(--background1)),
      radial-gradient(circle at right top, #2979ff, #07a787);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    position: relative;
  }

  .icon_logo_mini {
    @apply flex-center h-[40px] w-[40px];
    padding: 4px;
    border: double 4px transparent;
    border-radius: 50%;
    background-image: linear-gradient(var(--background1), var(--background1)),
      radial-gradient(circle at right top, #2979ff, #07a787);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    position: relative;
  }

  /* ========================================================================
  On/Off Switch
 ========================================================================== */

  .switch-button {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
    cursor: pointer;
    border-radius: 50px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    margin: 0 7px 0 0;
    top: 4px;
    position: absolute;
    top: 2px;
    left: 0;
  }

  .switch input {
    display: none;
  }

  .switch.interactive-effect input:checked + .switch-button:before {
    -webkit-animation: switch-shadow-color 0.4s;
    animation: switch-shadow-color 0.4s;
  }

  .switch.interactive-effect .switch-button:before {
    -webkit-animation: switch-shadow 0.4s;
    animation: switch-shadow 0.4s;
  }

  @-webkit-keyframes switch-shadow {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
    }

    100% {
      -webkit-box-shadow: 0 0 0px 10px rgba(0, 0, 0, 0);
      box-shadow: 0 0 0px 10px rgba(0, 0, 0, 0);
    }
  }

  @keyframes switch-shadow {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
    }

    100% {
      -webkit-box-shadow: 0 0 0px 10px rgba(0, 0, 0, 0);
      box-shadow: 0 0 0px 10px rgba(0, 0, 0, 0);
    }
  }

  @-webkit-keyframes switch-shadow-color {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(42, 65, 232, 0.6);
      box-shadow: 0 0 0 0 rgba(42, 65, 232, 0.6);
    }

    100% {
      -webkit-box-shadow: 0 0 0px 10px rgba(0, 0, 0, 0);
      box-shadow: 0 0 0px 10px rgba(0, 0, 0, 0);
    }
  }

  @keyframes switch-shadow-color {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(42, 65, 232, 0.6);
      box-shadow: 0 0 0 0 rgba(42, 65, 232, 0.6);
    }

    100% {
      -webkit-box-shadow: 0 0 0px 10px rgba(0, 0, 0, 0);
      box-shadow: 0 0 0px 10px rgba(0, 0, 0, 0);
    }
  }

  .switch-button:before {
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    bottom: 2px;
    left: 2px;
    -webkit-transition:
      0.4s,
      -webkit-box-shadow 0.3s;
    transition:
      0.4s,
      -webkit-box-shadow 0.3s;
    transition:
      0.4s,
      box-shadow 0.3s;
    transition:
      0.4s,
      box-shadow 0.3s,
      -webkit-box-shadow 0.3s;
    border-radius: 50px;
  }

  input:checked + .switch-button:before {
    -webkit-transform: translateX(14px);
    transform: translateX(14px);
  }

  .switch-button {
    --tw-bg-opacity: 1;
    background-color: rgb(226 232 240 / var(--tw-bg-opacity));
  }

  .dark .switch-button {
    --tw-bg-opacity: 1;
    background-color: rgb(30 41 59 / var(--tw-bg-opacity));
  }

  .switch-button:before {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  }

  .dark .switch-button:before {
    --tw-bg-opacity: 1;
    background-color: rgb(2 132 199 / var(--tw-bg-opacity));
  }

  input:checked + .switch-button {
    --tw-bg-opacity: 1;
    background-color: rgb(2 132 199 / var(--tw-bg-opacity));
  }

  .dark input:checked + .switch-button {
    --tw-bg-opacity: 1;
    background-color: rgb(147 197 253 / var(--tw-bg-opacity));
  }

  .dark input:checked + .switch-button:before {
    --tw-bg-opacity: 1;
    background-color: rgb(2 132 199 / var(--tw-bg-opacity));
  }

  #side > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.125rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.125rem * var(--tw-space-y-reverse));
  }

  #side {
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.025em;
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
  }

  .dark #side {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }

  #side a {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 0.75rem;
    padding: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  #side a:hover {
    background-color: var(--hover1);
  }

  #side a svg {
    height: 1.5rem !important;
    width: 1.5rem !important;
  }

  #side a.active svg,
  #side a.uk-active svg,
  #side .active a,
  #side a.uk-active {
    --tw-bg-opacity: 1;
    background-color: var(--background1);
    --tw-text-opacity: 1;
    color: var(--text1);
  }

  /*button*/

  .button {
    border-radius: 0.375rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
  }

  .dark .button {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }

  .button__ico {
    display: grid;
    height: 1.75rem;
    width: 1.75rem;
    place-items: center;
    border-radius: 9999px;
  }

  .dark .button__ico:hover {
    background-color: var(--hover1);
  }

  .itemTag {
    background-color: var(--background1);
    font-size: 0.9rem;
    border-radius: 0.5rem;
    color: var(--text2);
    border-radius: 1.5rem;

    &.active {
      background-color: var(--background2);
    }

    &:hover {
      background-color: var(--hover1);
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
  }

  .typing-indicator {
    display: inline-block;
    position: absolute;
    width: 52px;
    height: 30px;
    top: -9px;
  }

  .typing-indicator div {
    position: absolute;
    top: 12px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--foreground1);
    animation: typing-indicator-animate 0.8s infinite linear;
  }

  .typing-indicator div:nth-child(1) {
    left: 10px;
    animation-delay: 0.1s;
  }

  .typing-indicator div:nth-child(2) {
    left: 22px;
    animation-delay: 0.2s;
  }

  .typing-indicator div:nth-child(3) {
    left: 34px;
    animation-delay: 0.3s;
  }

  @keyframes typing-indicator-animate {
    0%,
    100% {
      transform: translateY(-10px);
    }

    25%,
    50%,
    75% {
      transform: translateY(0);
    }
  }
}

@layer utilities {
  /* Text */
  .h1-bold {
    @apply text-[36px] font-bold leading-[140%];
  }

  .h1-semibold {
    @apply text-[36px] font-semibold leading-[140%];
  }

  .h2-bold {
    @apply text-[30px] font-bold leading-[140%];
  }

  .h2-semibold {
    @apply text-[30px] font-semibold leading-[140%];
  }

  .h3-bold {
    @apply text-[24px] font-bold leading-[140%];
  }

  .h3-semibold {
    @apply text-[24px] font-semibold leading-[140%];
  }

  .h3-regular {
    @apply text-[24px] font-normal leading-[140%];
  }

  .h4-bold {
    @apply text-[20px] font-bold leading-[140%];
  }

  .h4-semibold {
    @apply text-[20px] font-semibold leading-[140%];
  }

  .h4-regular {
    @apply text-[20px] font-normal leading-[140%];
  }

  .h5-regular {
    @apply text-[17px] font-normal leading-[140%];
  }

  .h5-bold {
    @apply text-[17px] font-bold leading-[140%];
  }

  .h5-semibold {
    @apply text-[17px] font-semibold leading-[140%];
  }

  .h5-regular {
    @apply text-[17px] font-normal leading-[140%];
  }

  .base-bold {
    @apply text-[15px] font-bold leading-[140%];
  }

  .base-semibold {
    @apply text-[15px] font-semibold leading-[140%];
  }

  .base-medium {
    @apply text-[15px] font-medium leading-[140%];
  }

  .base-regular {
    @apply text-[15px] font-normal leading-[140%];
  }

  .small-bold {
    @apply text-[12px] font-bold leading-[140%];
  }

  .small-semibold {
    @apply text-[12px] font-semibold leading-[140%];
  }

  .small-medium {
    @apply text-[12px] font-medium leading-[140%];
  }

  .small-regular {
    @apply text-[12px] font-normal leading-[140%];
  }

  .subtle-semibold {
    @apply text-[12px] font-semibold leading-[140%];
  }

  .subtle-medium {
    @apply text-[12px] font-medium leading-[140%];
  }

  .tiny-medium {
    @apply text-[10px] font-medium leading-[140%];
  }

  /* Invert */
  .invert-white {
    @apply brightness-0 invert transition;
  }

  .invert-black {
    @apply brightness-100 invert transition;
  }

  /* Flex */
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-around {
    @apply flex items-center justify-around;
  }

  .flex-start {
    @apply flex items-center justify-start;
  }

  .flex-end {
    @apply flex items-center justify-end;
  }

  .text-1 {
    @apply cursor-pointer text-text-2 duration-300 hover:text-text-1;
  }

  .bg-1 {
    @apply cursor-pointer bg-foreground-2 duration-300 hover:bg-hover-2;
  }

  .bg-2 {
    @apply cursor-pointer bg-foreground-1 duration-300 hover:bg-hover-3;
  }

  /* Custom scrollbar background*/
  .custom-scrollbar-bg::-webkit-scrollbar {
    width: 8px;
    height: 0px;
    border-radius: 3px;
  }

  .custom-scrollbar-bg::-webkit-scrollbar-thumb {
    background: var(--foreground1);
    border-radius: 50px;
  }

  .custom-scrollbar-bg::-webkit-scrollbar-thumb:hover {
    background: var(--foreground1);
  }

  /* Custom scrollbar foreground*/
  .custom-scrollbar-fg::-webkit-scrollbar {
    width: 8px;
    height: 0px;
    border-radius: 3px;
  }

  .custom-scrollbar-fg::-webkit-scrollbar-thumb {
    background: var(--background1);
    border-radius: 50px;
  }

  .custom-scrollbar-fg::-webkit-scrollbar-thumb:hover {
    background: var(--background1);
  }

  /* Custom scrollbar none*/
  .custom-scrollbar-none::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--text1);
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px transparent;
  }

  .main__inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 935px;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  @media not all and (min-width: 768px) {
    .main__inner {
      padding: 0.75rem;
      padding-top: 3.5rem;
    }
  }

  /* heading */

  .page-heading {
    position: relative;
    margin-bottom: 2rem;
  }

  .page-heading .page-title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
  }

  .dark .page-heading .page-title {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }

  .page-heading .page-nav ul li.uk-active a,
  .page-heading .page-nav ul li.active a {
    --tw-border-opacity: 1;
    border-color: rgb(0 0 0 / var(--tw-border-opacity));
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
  }

  .dark .page-heading .page-nav ul li.uk-active a,
  .page-heading .page-nav ul li.active a {
    --tw-border-opacity: 1;
    border-color: rgb(255 255 255 / var(--tw-border-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }

  .page-nav2.page-nav ul li.uk-active a::after,
  .page-nav2.page-nav ul li.active a::after {
    position: absolute;
    bottom: -0.25rem;
    left: 50%;
    height: 0.25rem;
    width: 33.333333%;
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
      skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    content: var(--tw-content);
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
  }

  /* card */

  .card {
    border-radius: 0.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  .dark .card {
    --tw-bg-opacity: 1;
    background-color: rgb(30 41 59 / var(--tw-bg-opacity));
  }

  .card {
    position: relative;
    overflow: hidden;
  }

  .card-media {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .card-media img {
    position: absolute;
    inset: 0px;
    z-index: 1;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .card-media .card-overlay {
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
  }

  @keyframes pulse {
    50% {
      opacity: 0.5;
    }
  }

  .card-media .card-overlay {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    --tw-bg-opacity: 1;
    background-color: var(--background1);
  }

  .card-body {
    padding: 0.5rem;
  }

  @media (min-width: 768px) {
    .card-body {
      padding: 0.875rem;
    }
  }

  .card-title {
    font-weight: 500;
    text-transform: capitalize;
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
  }

  .dark .card-title {
    --tw-text-opacity: 1 !important;
    color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
  }

  @media (min-width: 768px) {
    .card-title {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }

  .card-text {
    margin-top: 0.125rem;
    font-size: 0.75rem;
    line-height: 1rem;
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
  }

  .dark .card-text {
    --tw-text-opacity: 1 !important;
    color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
  }

  @media (min-width: 768px) {
    .card-text {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }

  .card-body .button {
    margin-top: 0.625rem;
    width: 100%;
  }

  /* card list */

  .card-list {
    position: relative;
    display: flex;
    gap: 1rem;
  }

  @media not all and (min-width: 640px) {
    .card-list {
      flex-direction: column;
    }
  }

  @media (min-width: 768px) {
    .card-list {
      gap: 1.5rem;
    }
  }

  .card-list-media {
    position: relative;
    height: 100%;
    max-height: 100%;
    width: 100%;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 0.5rem;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  @media not all and (min-width: 768px) {
    .card-list-media {
      height: 9rem;
    }
  }

  @media (min-width: 640px) {
    .card-list-media {
      width: 14rem;
    }
  }

  .card-list-media img {
    position: absolute;
    inset: 0px;
    z-index: 1;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .card-list-body {
    flex: 1 1 0%;
  }

  .card-list-title {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 500;
    text-transform: capitalize;
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
  }

  .dark .card-list-title {
    --tw-text-opacity: 1 !important;
    color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
  }

  .card-list-text {
    margin-top: 0.5rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 0.875rem;
    line-height: 1.5rem;
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
  }

  .dark .card-list-text {
    --tw-text-opacity: 1 !important;
    color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
  }

  .card-list-link {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
  }

  .card-list-info {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
  }

  .dark .card-list-info {
    --tw-text-opacity: 1 !important;
    color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
  }

  .card-list-divider {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    --tw-border-opacity: 1;
    border-color: rgb(243 244 246 / var(--tw-border-opacity));
  }

  .dark .card-list-divider {
    --tw-border-opacity: 1;
    border-color: rgb(51 65 85 / var(--tw-border-opacity));
  }

  /* nav buttons */

  .nav-prev {
    position: absolute;
    left: -1rem;
    top: 50%;
    display: grid;
    height: 2.25rem;
    width: 2.25rem;
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
      skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    place-items: center;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  .dark .nav-prev {
    --tw-bg-opacity: 1;
    background-color: rgb(51 65 85 / var(--tw-bg-opacity));
  }

  .nav-next {
    position: absolute;
    right: -1rem;
    top: 50%;
    display: grid;
    height: 2.25rem;
    width: 2.25rem;
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
      skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    place-items: center;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  .dark .nav-next {
    --tw-bg-opacity: 1;
    background-color: rgb(51 65 85 / var(--tw-bg-opacity));
  }

  /* sidebar right list */

  .side-list {
    margin-top: 1.25rem;
  }

  .side-list > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1rem * var(--tw-space-y-reverse));
  }

  .side-list-image {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 0.375rem;
  }

  .side-list-item {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }

  .side-list-title {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
  }

  .dark .side-list-title {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }

  .side-list-info {
    margin-top: 0.125rem;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 400;
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
  }

  .dark .side-list-info {
    color: rgb(255 255 255 / 0.8);
  }
}

.tiptap {
  > * + * {
    margin-top: 0.75em;
  }

  a {
    color: var(--blue1);
    cursor: pointer;
    text-decoration: underline;
  }

  ul,
  ol {
    padding: 0 1rem;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  h1,
  h2,
  h3 {
    line-height: 1.1;
    font-size: revert;
    font-weight: bold;
  }

  pre {
    background: var(--background-code);
    color: whitesmoke;
    font-family: 'JetBrainsMono', monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }

    .hljs-comment,
    .hljs-quote {
      color: #616161;
    }

    .hljs-variable,
    .hljs-template-variable,
    .hljs-attribute,
    .hljs-tag,
    .hljs-name,
    .hljs-regexp,
    .hljs-link,
    .hljs-name,
    .hljs-selector-id,
    .hljs-selector-class {
      color: #f98181;
    }

    .hljs-number,
    .hljs-meta,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-literal,
    .hljs-type,
    .hljs-params {
      color: #fbbc88;
    }

    .hljs-string,
    .hljs-symbol,
    .hljs-bullet {
      color: #b9f18d;
    }

    .hljs-title,
    .hljs-section {
      color: #faf594;
    }

    .hljs-keyword,
    .hljs-selector-tag {
      color: #70cff8;
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: 700;
    }
  }
  p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }
}

.all-image-post {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1rem;
}

.image-post-2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

.image-post-3 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

.image-post-4 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

.image-post-5 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

.image-message-2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

.image-message-3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
}

.image-message-4 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
}

.image-message-5 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
}

.image-message-6 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
}

.image-message-7 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
}

.image-message-8 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
}

.image-message-9 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
}

.image-message-10 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
}
