@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    --tw-border-opacity: 1;

    --background1: #f6f9fb;
    --background2: rgb(31 41 55 / var(--tw-bg-opacity));

    --foreground1: #ffffff;
    --foreground2: #ff0000;

    --hover1: #f1f5f9;
    --hover2: #f4f7fa;

    --text1: #000000;
    --text2: #4b5563;
    --text3: #6b7280;

    --border1: rgb(75 85 99 / var(--tw-border-opacity));
    --border2: #ff0000;

    --dark1: rgb(17 24 39 / var(--tw-bg-opacity));
    --light1: rgb(255 255 255 / var(--tw-bg-opacity));

    --blue1: #2563eb;
    --blue2: #dbeafe;
    --blue3: #b1c2d8;

    --purple1: #7e3af2;
    --purple2: #edebfe;
    --purple3: #edebfe;

    --green1: #0694a2;
    --green2: #d5f5f6;
    --green3: #d5f5f6;

    --pink1: #db2777;
    --pink2: #fce7f3;
    --pink3: #e3c6d7;

    --scroll: #ff0000;
  }

  .dark {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    --tw-border-opacity: 1;

    --background1: #0f172a;
    --background2: rgb(31 41 55 / var(--tw-bg-opacity));

    --foreground1: #1e293b;
    --foreground2: #ff0000;

    --hover1: #334155;
    --hover2: #303951;

    --text1: #ffffff;
    --text2: #d0d0d3;
    --text3: #6b7280;

    --border1: rgb(75 85 99 / var(--tw-border-opacity));
    --border2: #ff0000;

    --dark1: rgb(17 24 39 / var(--tw-bg-opacity));
    --light1: rgb(255 255 255 / var(--tw-bg-opacity));

    --blue1: #2563eb;
    --blue2: #dbeafe;
    --blue3: #b1c2d8;

    --purple1: #7e3af2;
    --purple2: #edebfe;
    --purple3: #edebfe;

    --green1: #0694a2;
    --green2: #d5f5f6;
    --green3: #d5f5f6;

    --pink1: #db2777;
    --pink2: #fce7f3;
    --pink3: #e3c6d7;

    --scroll: #ff0000;
  }
}

@layer base {
  * {
    @apply m-0 box-border scroll-smooth p-0;
  }

  body {
    @apply bg-background-1 font-inter text-[14px] text-text-1;
  }
}

@layer components {
  .icon_logo {
    @apply h-[50px] w-[50px];
    padding: 8px;
    border: double 4px transparent;
    border-radius: 50%;
    background-image: linear-gradient(var(--background1), var(--background1)),
      radial-gradient(circle at right top, #2979ff, #07a787);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .switch-button {
    --tw-bg-opacity: 1;
    background-color: rgb(226 232 240 / var(--tw-bg-opacity));
  }

  @media (prefers-color-scheme: dark) {
    .switch-button {
      --tw-bg-opacity: 1;
      background-color: rgb(30 41 59 / var(--tw-bg-opacity));
    }
  }

  .switch-button:before {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  }

  @media (prefers-color-scheme: dark) {
    .switch-button:before {
      --tw-bg-opacity: 1;
      background-color: rgb(2 132 199 / var(--tw-bg-opacity));
    }
  }

  input:checked + .switch-button {
  input:checked + .switch-button {
    --tw-bg-opacity: 1;
    background-color: rgb(2 132 199 / var(--tw-bg-opacity));
  }

  @media (prefers-color-scheme: dark) {
    input:checked + .switch-button {
      --tw-bg-opacity: 1;
      background-color: rgb(147 197 253 / var(--tw-bg-opacity));
    }

    input:checked + .switch-button:before {
      --tw-bg-opacity: 1;
      background-color: rgb(2 132 199 / var(--tw-bg-opacity));
    }
  }

  /*button*/

  .button {
    border-radius: 0.375rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
  }

  @media (prefers-color-scheme: dark) {
    .button {
      --tw-text-opacity: 1;
      color: rgb(255 255 255 / var(--tw-text-opacity));
    }
  }

  .button__ico {
    display: grid;
    height: 1.75rem;
    width: 1.75rem;
    place-items: center;
    border-radius: 9999px;
  }

  @media (prefers-color-scheme: dark) {
    .button__ico:hover {
      --tw-bg-opacity: 1;
      background-color: rgb(51 65 85 / var(--tw-bg-opacity));
    }
  }

  .button__ico:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(var(--color-secondery) / var(--tw-bg-opacity));
  }
  .itemAddTag {
    background-color: var(--background1);
    font-size: 0.9rem;
    border-radius: 0.5rem;
    color: var(--text2);
    border-radius: 1.5rem;
    &.active {
      background-color: var(--background2);
    }
    &:hover {
      background-color: var(--hover1);
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
  }
}

@layer utilities {
  /* Text */
  .h1-bold {
    @apply text-[36px] font-bold leading-[140%];
  }

  .h1-semibold {
    @apply text-[36px] font-semibold leading-[140%];
  }

  .h2-bold {
    @apply text-[30px] font-bold leading-[140%];
  }

  .h3-bold {
    @apply text-[24px] font-bold leading-[140%];
  }

  .h3-semibold {
    @apply text-[24px] font-semibold leading-[140%];
  }

  .h3-regular {
    @apply text-[24px] font-normal leading-[140%];
  }

  .h4-bold {
    @apply text-[20px] font-bold leading-[140%];
  }

  .h4-semibold {
    @apply text-[20px] font-semibold leading-[140%];
  }

  .h5-regular {
    @apply text-[17px] font-normal leading-[140%];
  }

  .h5-bold {
    @apply text-[17px] font-bold leading-[140%];
  }

  .h5-semibold {
    @apply text-[17px] font-semibold leading-[140%];
  }

  .h5-regular {
    @apply text-[17px] font-normal leading-[140%];
  }

  .base-bold {
    @apply text-[15px] font-bold leading-[140%];
  }

  .base-semibold {
    @apply text-[15px] font-semibold leading-[140%];
  }

  .base-medium {
    @apply text-[15px] font-medium leading-[140%];
  }

  .base-regular {
    @apply text-[15px] font-normal leading-[140%];
  }

  .small-bold {
    @apply text-[12px] font-bold leading-[140%];
  }

  .small-semibold {
    @apply text-[12px] font-semibold leading-[140%];
  }

  .small-medium {
    @apply text-[12px] font-medium leading-[140%];
  }

  .small-regular {
    @apply text-[12px] font-normal leading-[140%];
  }

  .subtle-semibold {
    @apply text-[12px] font-semibold leading-[140%];
  }

  .subtle-medium {
    @apply text-[12px] font-medium leading-[140%];
  }

  .tiny-medium {
    @apply text-[10px] font-medium leading-[140%];
  }

  /* Invert */
  .invert-white {
    @apply brightness-0 invert transition;
  }

  .invert-black {
    @apply brightness-100 invert transition;
  }

  /* Flex */
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-start {
    @apply flex items-center justify-start;
  }

  /* Custom scrollbar background*/
  .custom-scrollbar-bg::-webkit-scrollbar {
    width: 8px;
    height: 0px;
    border-radius: 3px;
  }

  .custom-scrollbar-bg::-webkit-scrollbar-thumb {
    background: var(--foreground1);
    border-radius: 50px;
  }

  .custom-scrollbar-bg::-webkit-scrollbar-thumb:hover {
    background: var(--foreground1);
  }

  /* Custom scrollbar foreground*/
  .custom-scrollbar-fg::-webkit-scrollbar {
    width: 8px;
    height: 0px;
    border-radius: 3px;
  }

  .custom-scrollbar-fg::-webkit-scrollbar-thumb {
    background: var(--background1);
    border-radius: 50px;
  }

  .custom-scrollbar-fg::-webkit-scrollbar-thumb:hover {
    background: var(--background1);
  }

  /* Custom scrollbar none*/
  .custom-scrollbar-none::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--text1);
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px transparent;
  }
}

